<div class="col s5 m3">
  <div class="card" appHover>
    <div class="card-image">
      <img src={{user.image}}>
      <span class="card-title"
            [ngClass] = "{'isMarked': isMarked}"
      >{{user.name}}
      </span>
    </div>
    <div class="user-content">
      <p>City: {{user.city}}</p>
      <p>Street: {{user.street}}</p>
    </div>
    <div class="user-action">
      <a
        (click) = "onClick()"
        class="waves-effect waves-light btn">Click here</a>
    </div>
  </div>
</div>
